/* Uncomment and set these variables to customize the grid. */
.start-xs{
    text-align: start;
    justify-content: flex-start;
}

.center-xs{
    text-align: center;
    justify-content: center;
}

.end-xs{
    text-align: end;
    justify-content: flex-end;
}

.top-xs{
    align-items: flex-start;
}

.middle-xs{
    align-items: center;
}

.bottom-xs{
    align-items: flex-end;
}

.around-xs{
    justify-content: space-around;
}

.between-xs{
    justify-content: space-between;
}

.first-xs{
    order: -1;
}

.last-xs{
    order: 1;
}

@media only screen and (min-width: 768px){
    .start-sm{
        text-align: start;
        justify-content: flex-start;
    }

    .center-sm{
        text-align: center;
        justify-content: center;
    }

    .end-sm{
        text-align: end;
        justify-content: flex-end;
    }

    .top-sm{
        align-items: flex-start;
    }

    .middle-sm{
        align-items: center;
    }

    .bottom-sm{
        align-items: flex-end;
    }

    .around-sm{
        justify-content: space-around;
    }

    .between-sm{
        justify-content: space-between;
    }

    .first-sm{
        order: -1;
    }

    .last-sm{
        order: 1;
    }
}

@media only screen and (min-width: 992px){
    .start-md{
        text-align: start;
        justify-content: flex-start;
    }

    .center-md{
        text-align: center;
        justify-content: center;
    }

    .end-md{
        text-align: end;
        justify-content: flex-end;
    }

    .top-md{
        align-items: flex-start;
    }

    .middle-md{
        align-items: center;
    }

    .bottom-md{
        align-items: flex-end;
    }

    .around-md{
        justify-content: space-around;
    }

    .between-md{
        justify-content: space-between;
    }

    .first-md{
        order: -1;
    }

    .last-md{
        order: 1;
    }
}

@media only screen and (min-width: 1200px){
    .start-lg{
        text-align: start;
        justify-content: flex-start;
    }

    .center-lg{
        text-align: center;
        justify-content: center;
    }

    .end-lg{
        text-align: end;
        justify-content: flex-end;
    }

    .top-lg{
        align-items: flex-start;
    }

    .middle-lg{
        align-items: center;
    }

    .bottom-lg{
        align-items: flex-end;
    }

    .around-lg{
        justify-content: space-around;
    }

    .between-lg{
        justify-content: space-between;
    }

    .first-lg{
        order: -1;
    }

    .last-lg{
        order: 1;
    }
}


@-ms-viewport{
    width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg{
    display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block{
    display: none !important;
}
@media (max-width: 767px){
    .visible-xs{
        display: block !important;
    }
    table.visible-xs{
        display: table !important;
    }
    tr.visible-xs{
        display: table-row !important;
    }
    th.visible-xs,
    td.visible-xs{
        display: table-cell !important;
    }
}
@media (max-width: 767px){
    .visible-xs-block{
        display: block !important;
    }
}
@media (max-width: 767px){
    .visible-xs-inline{
        display: inline !important;
    }
}
@media (max-width: 767px){
    .visible-xs-inline-block{
        display: inline-block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .visible-sm{
        display: block !important;
    }
    table.visible-sm{
        display: table !important;
    }
    tr.visible-sm{
        display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm{
        display: table-cell !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .visible-sm-block{
        display: block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .visible-sm-inline{
        display: inline !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .visible-sm-inline-block{
        display: inline-block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .visible-md{
        display: block !important;
    }
    table.visible-md{
        display: table !important;
    }
    tr.visible-md{
        display: table-row !important;
    }
    th.visible-md,
    td.visible-md{
        display: table-cell !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .visible-md-block{
        display: block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .visible-md-inline{
        display: inline !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .visible-md-inline-block{
        display: inline-block !important;
    }
}
@media (min-width: 1200px){
    .visible-lg{
        display: block !important;
    }
    table.visible-lg{
        display: table !important;
    }
    tr.visible-lg{
        display: table-row !important;
    }
    th.visible-lg,
    td.visible-lg{
        display: table-cell !important;
    }
}
@media (min-width: 1200px){
    .visible-lg-block{
        display: block !important;
    }
}
@media (min-width: 1200px){
    .visible-lg-inline{
        display: inline !important;
    }
}
@media (min-width: 1200px){
    .visible-lg-inline-block{
        display: inline-block !important;
    }
}
@media (max-width: 767px){
    .hidden-xs{
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .hidden-sm{
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .hidden-md{
        display: none !important;
    }
}
@media (min-width: 1200px){
    .hidden-lg{
        display: none !important;
    }
}
.visible-print{
    display: none !important;
}
@media print{
    .visible-print{
        display: block !important;
    }
    table.visible-print{
        display: table !important;
    }
    tr.visible-print{
        display: table-row !important;
    }
    th.visible-print,
    td.visible-print{
        display: table-cell !important;
    }
}
.visible-print-block{
    display: none !important;
}
@media print{
    .visible-print-block{
        display: block !important;
    }
}
.visible-print-inline{
    display: none !important;
}
@media print{
    .visible-print-inline{
        display: inline !important;
    }
}
.visible-print-inline-block{
    display: none !important;
}
@media print{
    .visible-print-inline-block{
        display: inline-block !important;
    }
}
@media print{
    .hidden-print{
        display: none !important;
    }
}
@media(max-width: 1499px){
    .sidemenu{
        top: 53% !important;
    }
}
@media(max-width: 1399px) {
    .sidemenu__logo {
        width: 30px !important;
    }
    .sidemenu{
        top: 54% !important;
        width: 60px !important;
    }
    .sidemenu__list a svg{
        width: 25px !important;
        height: 25px !important;
        left: 28px !important;
    }
}
