.catalog-item__btn {
    height: unset !important;
    padding: 25px 0;
    line-height: inherit !important;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.catalog-item__btn.catalog-item__block {
    padding: 15px 0;
}

.catalog-item__btn [data-cart] {
    display: flex;
    align-items: baseline;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 12px;
    right: 0;
    transition: all .45s ease-in-out;
}

.catalog-item__btn [data-cart] img {
    margin-right: 7px;
}

.catalog-item__btn [data-cart="add_to_cart"] {
    top: -40px;
}

.catalog-item__btn [data-cart="in_cart"] {
    top: 40px;
}

.catalog-item__btn [data-cart].active {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.catalog-item__btn [data-cart].btn_in_cart {
    background-color: #A7A7A7;
}

.section__download2 {
    display: flex;
}

.section__download2 a:first-child {
    margin-right: 20px;
}

.section__download2 a {
    font-size: 14px;
}

.section__download2 {
    position: relative;
    right: 0;
    margin-top: 30px;
}


@media (max-width: 699px) {
    .section__download2 .download__link {
        justify-content: flex-start;
        padding-left: 20%;
    }

    .section__download2 {
        margin-top: 0px;
        flex-direction: column;
    }

    .section__download2 a {
        margin: 0;
        width: 100% !important;
    }

    .section__download2 a:not(:first-child) {
        margin-top: 15px;
    }
}

.catalog-item__title span {
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    margin: 0;
}

@media (min-width: 768px) {
    .catalog-item__title span {
        font-size: 14px;
        line-height: 18px;
    }
}

@media (min-width: 1200px) {
    .catalog-item__title span {
        font-size: 16px;
        padding: 0 10px;
        line-height: 24px;
    }
}

.packaging__title span {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
}

.download__link img {
    width: 28px;
    height: 24px;
    margin-right: 15px;
}

.search__block {
    position: relative;
}

.search__block.scroll {
    position: unset;
}

.nav--scroll .search__block.scroll {
    position: relative;
}

.search-block__result {
    display: none;
    min-height: 77px;
    font-family: Century Gothic;
    font-style: normal;
    position: absolute;
    width: 100%;
    top: 40px;
    padding: 20px;
    z-index: 99999;
    /* background-color: white; */
    background: #ECECEC;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.scroll .search-block__result {
    position: absolute;
    width: calc(100% - 30px);
    top: 55px;
    left: 15px;
}

.search-result__list {
    max-height: 290px;
}

.search-result__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all .35s ease-in-out;
    padding-top: 10px;
    margin-bottom: 10px;
}

.search-result__item:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid #C8C8C8;
}

.search-item__img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.search-item__name {
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    transition: all .35s ease-in-out;

    color: #000000;
}

.search-result__item:hover {
    border-color: #27AAE1;
}

.search-result__item:hover .search-item__name {
    color: #27AAE1;
}

.search-result__more {
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #27AAE1;
    color: white;
    transition: all .35s ease-in-out;

    font-weight: bold;
    font-size: 14px;
    line-height: 23px;

    color: #FFFFFF !important;
}

.search-result__more:hover {
    background-color: #4AC9FE;
}

[data-scroll] .mCSB_dragger_bar {
    background-color: rgb(79, 170, 225) !important;
}


/*-------- PRELOADER ----------*/
.relative {
    position: relative;
}

.hide {
    display: none;
}

[data-preloader] {
    opacity: 0;
    visibility: hidden;
    transition: all .45s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 15px;
    width: 100%;
    margin-bottom: 10px;
}

[data-preloader].active {
    opacity: 1;
    visibility: visible;
}

.lds-ring {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 50px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    margin: 8px;
    border: 8px solid #4faae1;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #4faae1 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*-------- /PRELOADER ----------*/


/*-------- MOBILE MENU -----------*/
.mobile__menu-btn {
    display: inline-block;
    cursor: pointer;
}

.mobile__menu-btn .bar1,
.mobile__menu-btn .bar2,
.mobile__menu-btn .bar3 {
    width: 35px;
    height: 6px;
    background-color: #27AAE1;;
    margin: 4px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 7px);
    transform: rotate(-45deg) translate(-8px, 7px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -7px);
}

.mobile__header-block {
    position: relative;
    background-color: white;
    z-index: 999;
    width: 100%;
    padding: 15px 0;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    top: 0;
}

.mobile-header__nav-item.mobile__svg svg {
    fill: #27aae1;
    width: 28px;
}

.mobile-header__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile__header-block [data-mobile="menu-list"] {
    position: absolute;
    z-index: 9999;
    top: 66px;
}

.mobile__header-block .header__contacts {
    padding: 0;
}

.mobile__header-block .header__contacts .ya-phone,
.mobile__header-block .header__contacts .header__contacts-city a {
    font-weight: bold;
}

.mobile__header-block .header__mobsearch input {
    width: 100%;
}

.mobile__header-block .header__mobsearch button {
    top: 0;
    right: 15px;
}

.mobile__header-block .mobile__lang-btn {
    font-family: CenturyGothic-Bold;
    font-size: 22.5px;
    font-weight: bold;
    color: #27AAE1;
}

.mobile__header-block .header__mobfade {
    position: absolute;
    padding: 20px 0 20px;
    background-color: #eee;
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 100;
    -webkit-transition: opacity .4s ease;
    -moz-transition: opacity .4s ease;
    transition: opacity .4s ease;
    z-index: 9999;
}

.mobile__header-block .header__mobfade.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.header-moblang__lang-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-moblang__lang-list a.header-moblang__lang-item {
    font-family: CenturyGothic-Bold;
    padding: 7px;
    background-color: white;
    color: #27AAE1;
    font-size: 19px;
    font-weight: bold;
    display: block;
    transition: all .4s ease-in-out;
}

.header-moblang__lang-list a.header-moblang__lang-item.active {
    background-color: #E1E1E1;
    color: #BCBCBC;
    pointer-events: none;
}

.mobile__header-block .cart-btn-wrap-basket {
    width: 20px;
    height: 20px;
    top: -10px;
    right: -10px;
}

.mobile__header-block .cart-btn-wrap-item {
    display: flex;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    font-weight: normal;
    min-height: 20px;
}

.mobile__header-block .cart-btn-wrap-item img {
    width: 15px;
    height: 15px;
    margin-bottom: -3px;
}

.mobile__header-block .header__mob_fav_comp {
    padding: 0;
    flex-direction: column;
    width: max-content;
    position: fixed;
    top: 190px;
    right: -3px;
}

.mobile-header__compare-item {
    position: relative;
    margin-right: -130px;
    transition: all .4s ease-in-out;
    padding: 13px 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
    font-size: 9px;
    text-align: center;
    font-weight: bold;
    text-decoration: none !important;
}

.mobile-header__compare-item.active {
    margin-right: 0;
}

.mobile-header__compare-item:not(:last-child) {
    margin-bottom: 10px;
}

.mobile__header-block .cart-btn-wrap-favorites,
.mobile-header__compare-item.favorites {
    color: #80C02E;
}

.nav__submenu .header__contacts-city {
    font-size: 20px;
    color: #6d6e71;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 290px;
    margin: 0 auto;
    margin-bottom: 10px;
}

@media (min-width: 360px) {
    .nav__submenu .header__contacts-city {
        max-width: 320px;
    }
}

.nav__submenu .header__contacts-city span {
    font-size: 20px;
}

.nav__submenu .header__contacts-city svg {
    width: 25px;
}

.nav__submenu .header__contacts-city .open-modal {
    margin-left: 10px;
    color: #4faae1;
    font-weight: bold;
    width: max-content;
}

.header__submenu-links .header__contacts-city {
    display: none;
}

@media (max-width: 699px) {
    .header {
        /*margin-bottom: 40px;*/
    }

    .header__submenu-links .header__contacts-city {
        display: block;
    }
}

/*-------- /MOBILE MENU -----------*/


/*--------- FAQ -----------*/
.faq__item:not(:last-child) {
    margin-bottom: 30px;
}

.faq-item__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border: 1px solid #27AAE1;
    background-color: white;
    transition: all .4s ease-in-out;

    font-size: 16px;
    font-family: CenturyGothic-Bold;
    line-height: 25px;
    color: #202F3F;
    cursor: pointer;
}

.faq-item__question svg,
.faq-item__question svg path {
    transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.faq-item__question.active {
    background-color: #27AAE1;
    color: white;
}

.faq-item__question.active svg {
    transform: rotate(-180deg);
}

.faq-item__question.active svg path {
    stroke: white;
}

.faq-item__answer {
    display: none;
    padding: 15px 20px;
    background-color: #F6F6F6;
    line-height: 140%;
    color: #000000;
}

.faq-item__answer a {
    color: #27AAE1 !important;
}

.faq-answer__text {
    margin-bottom: 15px;
}

.faq-media__item {
    position: relative;
    padding-top: 78%;
}

.faq-media__item .faq-media__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.faq-answer__media {
    margin-bottom: 25px;
}

.faq-answer__link {
    display: block;
    width: max-content;
    padding: 10px 30px;
    border: 1px solid #27AAE1;
    color: #000000;
    background-color: white;
    text-decoration: unset !important;
    transition: all .4s ease-in-out;
}

.faq-answer__link:hover {
    background-color: #27AAE1;
    color: white !important;
}

.faq__detail-block .faq-item__answer {
    background-color: transparent;
    display: block;
    margin-bottom: 30px;
    padding: 0;
}

.faq__detail-block .faq-item__answer a {
    color: #27AAE1;
}

.faq__section {
    margin-bottom: 60px;
}

.faq-answer__text ul,
.faq-answer__text ol,
.faq-item__answer ul,
.faq-item__answer ol {
    list-style-type: none;
    padding-left: 30px;
}

.faq-answer__text ul li::before,
.faq-answer__text ol li::before,
.faq-item__answer ul li::before,
.faq-item__answer ol li::before {
    content: "\2022";
    color: #4faae1;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.faq-answer__text ul li:not(:last-child),
.faq-answer__text ol li:not(:last-child),
.faq-item__answer ul li:not(:last-child),
.faq-item__answer ol li:not(:last-child) {
    margin-bottom: 15px;
}

.faq-answer__text ul li p,
.faq-answer__text ol li p,
.faq-item__answer ul li p,
.faq-item__answer ol li p {
    display: inline;
}

@media (max-width: 991px) {
    .faq-answer__text {
        margin-bottom: 25px;
    }

    .faq-answer__media {
        margin-bottom: 35px;
    }
}

@media (max-width: 699px) {
    .faq-answer__text ul,
    .faq-answer__text ol {
        padding-left: 20px;
    }
}

/*--------- /FAQ -----------*/


form input,
form select,
form textarea {
    transition: all .4s ease-in-out;
}

form [required].error {
    border-color: #EB5757;
}

form .error__mess {
    margin-top: -20px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #EB5757;
}

.city__mess {
    color: red;
    font-size: 13px;
    margin-top: -15px;
    margin-bottom: 20px;
}

.post__date {
    font-weight: bold;
    color: #C4C4C4;
    margin-bottom: 10px;
}

.slider--article .slider__item {
    pointer-events: none;
}

.mobile__comp-icon {
    width: 105px;
    height: 36px;
}

.header__mobcontent,
.header__mobfade,
.header__mobsearch {
    z-index: 99999 !important;
}


.new-filter__title {
    font-family: CenturyGothic-Bold;
    font-size: 23px;
    color: #424242;
    margin-top: 40px;
    margin-bottom: 10px;
}

.new-filter__block .smartfilter {
    padding: 0 15px 20px;
}

.new-filter__block .category__menu-btn {
    transition: all .35s ease-in-out;
    padding: 15px 20px 15px 15px;
    font-size: 14px;
    border-color: #a3a3a5;
    color: #424242;
}

.new-filter__block .category__menu-btn:before {
    left: 0;
    background-color: #27aae1 !important;
    /*content: unset !important;*/
}

.new-filter__block .category__menu-btn svg {
    right: 0;
    transition: all .35s ease-in-out;
    transform: rotate(90deg);
}

.new-filter__block .category__menu-title {
    font-family: CenturyGothic-Bold;
    font-size: 18px;
    line-height: 22px;
    color: #424242;
    padding: 15px 0 5px;
}

@media (max-width: 843px) {
    .new-filter__block .category__menu-title {
        display: none;
    }
}

.new-filter__block .category__menu-col + .category__menu-title {
    padding-top: 35px;
}

.new-filter__block .category__menu-btn[aria-expanded=true] svg {
    transform: rotate(-90deg);
    fill: #27AAE1;
}

.new-filter__block .category__menu-btn[aria-expanded=true] {
    font-family: CenturyGothic-Bold;
    color: #424242;
    background-color: #ededed;
    border-color: #27AAE1;
}

.new-filter__block .category__menu-col {
    padding: 15px 0;
    position: relative;
    background-color: #ededed;;
    color: #424242;
}

.new-filter__block .category__check {
    position: relative;
}

.new-filter__block .category__check input:checked + label,
.new-filter__block .category__check input:not(:checked) + label {
    color: #6d6e718c;
    font-size: 14px;
    padding-left: 23px;
}

.new-filter__block .category__check input:checked + label:before,
.new-filter__block .category__check input:not(:checked) + label:before {
    top: 1px;
    width: 18px;
    height: 18px;
    border: 1px solid #C7C7C7;
    border-radius: 5px;
}

.new-filter__block .category__check input + label:after {
    left: 6.4px;
    top: 4.5px;
    width: 6px;
    height: 9px;
    border: 0.5px solid #80C02E;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: transparent !important;
}

.new-filter__block .new-filter__name {
    color: #424242;
}

.new-filter__block #modef {
    display: inline-block;
    position: absolute;
    right: -145px;
    z-index: 999;
    color: white !important;
    background-color: #80C02E;
    padding: 5px 15px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.new-filter__block #modef a {
    font-family: CenturyGothic-Bold;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 18px;
    line-height: 20px;
}

.new-filter__block #modef a:after {
    /* content: ''; */
    /* position: absolute; */
    /* left: -80px; */
    /* bottom: -20px; */
    /* border: 25px solid transparent; */
    /* border-top: 25px solid #80c02f; */
    /* transform: rotate(90deg); */
    /* top: -20px; */
    content: '';
    position: absolute;
    left: -37px;
    bottom: 0;
    border: 25px solid transparent;
    border-top: 30px solid #80c02f;
    transform: rotate(321deg);
    top: 3px;
    border-right-width: 32px;
    border-left-width: 7px;
    border-top-width: 39px;
    border-bottom-width: 0px;
}

.new-filter__block #modef a span {
    font-family: CenturyGothic;
    font-size: 14px;
}

.new-filter__block .category__check #modef {
    top: -10px;
    right: -130px;
}

.new-filter__block .bx-filter .bx-ui-slider-part {
    display: none;
}

.new-filter__block .bx-filter .bx-ui-slider-pricebar-vn {
    background: #E0E0E0;
}

.new-filter__block .bx-filter .bx-ui-slider-pricebar-v {
    height: 1px;
    top: 0px;
    background: #E0E0E0;
}

.new-filter__block .bx-filter .bx-ui-slider-handle {
    top: -6px;
    width: 13px;
    height: 13px;
    background-color: #80C02E;
    margin: 0;
}

.new-filter__block .bx-filter .bx-ui-slider-track-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.new-filter__block .new-filter__numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-filter__numbers .bx-filter-input-container {
    position: relative;
    width: 85px;
}

.new-filter__block .bx-filter .min-price,
.new-filter__block .bx-filter .max-price {
    width: 100%;
}

.new-filter__block .bx-filter .bx-ft-sub {
    position: absolute;
    left: 5px;
    top: 0;
    width: max-content;
    font-size: 12px;
    color: black;
}

.new-filter__block .bx-filter-input-container input {
    font-size: 14px;
    padding-left: 26px;
}

.new-filter__block .bx-filter-input-container input::placeholder {
    color: #BDBDBD;
}

.new-filter__block .category__menu {
    background-color: #ededed;
}

.new-filter__block .new-filter__button {
    display: block;
    font-size: 14px;
    color: white;
    background-color: #80C02E;
    transition: all .35s ease-in-out;
    height: unset;
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 13px 20px;
    border: 1px solid #80C02E;
}

.new-filter__block .new-filter__button.new-filter__button-white {
    background-color: white;
    color: #80C02E;
}

.new-filter__block .new-filter__button.new-filter__button-white:hover {
    background-color: #80C02E;
    color: white;
}

.new-filter__block .new-filter__button:first-child {
    margin-top: 20px;
}

.new-filter__block .new-filter__button:not(:last-child) {
    margin-bottom: 10px;
}

.new-filter__block .bx-filter .bx-ui-slider-pricebar-vd {
    background-color: #e0e0e0;
}

.new-filter__collapse.category__collapse-btn {
    transition: all .35s ease-in-out;
    margin-top: 40px;
    font-family: CenturyGothic-Bold;
    color: #80C02E;
    background-color: white;
    border: 1px solid #80C02E;
}

.new-filter__collapse.category__collapse-btn[aria-expanded=true] {
    background-color: #80C02E;
    color: white;
}

.nav--head.hidden-xs {
    z-index: 99;
}


@media (max-width: 991px) {
    .new-filter__block .category__check #modef {
        display: none !important;
    }
}


.b-main-menu__item {
    position: relative;
    cursor: pointer;
}

.b-main-menu__submenu {
    opacity: 0;
    visibility: hidden;
    transition: all .20s ease-in-out;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 30px 40px 10px 40px;
    background-color: white;
    z-index: 999;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
    z-index: 99;
}

.b-main-menu__submenu.active {
    opacity: 1;
    visibility: visible;
    top: 60px;
}

.b-submenu__item {
    transition: all .35s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
}

.b-submenu__item:hover {
    color: #57ba46;
}

.b-submenu__item img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

#menu_1 .nav__sublink {
    padding-left: 0;
}

#menu_1 .nav__sublink:not(:last-child) {
    margin-bottom: 20px;
}

#menu_1 .nav__sublink img {
    width: 35px !important;
    height: 35px !important;
    background-color: white;
    padding: 5px;
    margin-right: 15px;
}

.rep.rep__list b {
    font-family: CenturyGothic-Bold;
    font-weight: 400;
    margin-right: 15px;
}

.rep.rep__list {
    font-size: 20px;
    color: #6d6e71;
    line-height: 140%;
}

.nav__sublink {
    transition: all .35s ease-in-out;
}

.nav__sublink:hover,
.nav__sublink:focus {
    color: #57ba46;
}

@media (max-width: 1599px) {
    .b-main-menu__submenu {
        padding: 20px 20px 0;
    }

    .b-submenu__item img {
        width: 23px;
        height: 23px;
    }

    .b-submenu__item {
        font-size: 14px;
    }

    .b-submenu__item {
        margin-bottom: 15px;
    }
}

@media (max-width: 1199px) {
    .b-main-menu__submenu {
        display: none;
    }

    .nav.nav--footer {
        display: none;
    }
}


@media (min-width: 768px) {
    .new-search-filter__block .filter__title {
        font-family: CenturyGothic-Bold;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 27px;
        color: #6D6E71;
        padding-left: 0;
        background-color: unset !important;
        margin-bottom: 20px;
    }

    .new-search-filter__block .new-search-filter__item {
        margin-bottom: 15px;
    }

    .new-search-filter__size .bx-filter-parameters-box {
        /*padding-right: 30px;*/
    }
}

.new-search-filter__block.bx-filter .min-price,
.new-search-filter__block.bx-filter .max-price {
    font-size: 14px;
    /*line-height: unset;*/
    background-color: #F9F9F9;
    width: 100%;
    margin: 0;
}

.new-search-filter__block.bx-filter .bx-ft-sub {
    display: none;
}

.new-search-filter__block.bx-filter .filter_price_title {
    font-size: 14px;
    margin-bottom: 15px;
}

.new-search-filter__block.bx-filter .bx-ui-slider-part {
    display: none;
}

.new-search-filter__block.bx-filter .bx-ui-slider-track-container {
    padding-top: 22px;
    padding-left: 25px;
    padding-right: 25px;
}

.new-search-filter__block.bx-filter .bx-ui-slider-pricebar-vd {
    height: 3px;
    top: -1px;
}

.new-search-filter__block.bx-filter .bx-ui-slider-handle {
    width: 17px;
    height: 17px;
    top: -8px;
    background-color: white;
    border: 3px solid #27AAE1;
}

.new-search-filter__block.bx-filter .category__check input:not(:checked) + label,
.new-search-filter__block.bx-filter .category__check input:checked + label {
    font-size: 14px;
}

.new-search-filter__buttons .row {
    width: -webkit-fill-available !important;
}

.new-search-filter__buttons button {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    font-size: 16px;
    line-height: unset !important;
}

.new-search-filter__block .filter-btn[data-toggle="collapse"],
.new-search-filter__block .filter__clear {
    width: 100%;
    font-family: CenturyGothic;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #6D6E71;
    background-color: #EDEDED;
}

.new-search-filter__block .filter__clear {
    background-color: #da2127;
    color: white;
    font-family: CenturyGothic-Bold;
    font-weight: bold;
}

.new-search-filter__block.bx-filter .filter__collapse {
    z-index: 99;
}

.new-search-filter__block .filter__search,
.new-search-filter__block.bx-filter .filter_select {
    font-size: 14px;
}

.new-search-filter__block .filter__search, .filter__select,
.new-search-filter__block.bx-filter .filter__collapse_container {
    margin-bottom: 15px;
}

.catitem__content .catitem__title {
    height: unset;
}

.filter_select[data-checked="true"] {
    border-width: 1.5px;
    border-color: #4eaae1;
}

@media (max-width: 1399px) {
    .sidemenu__list .swiper-slide.selected svg {
        left: 27px !important;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .col-sm-6 {
        max-width: 50%;
        flex-basis: 50%;
    }
}

@media (max-width: 767px) {
    .new-search-filter__block .filter__title {
        margin-bottom: 30px;
    }

    .new-search-filter__item {
        margin-bottom: 30px;
    }

    .new-search-filter__buttons {
        margin: 0;
    }

    .new-search-filter__buttons button {
        font-size: 16px;
        margin-bottom: 15px;
    }
}

.sorting__collapse_container {
    position: relative;
    z-index: 9;
}

.category__grid--small .catalog-item__btn {
    padding: 20px 0;
}

.b-catalog-search__section .category__grid--small .cyber_tile-container .catitem__img img {
    height: 135px;
}

@media (min-width: 1200px) {
    .b-catalog-search__section .cyber_tile-container .catitem__img img {
        height: 180px;
    }
}

@media (max-width: 1499px) {
    .b-catalog-search__section .category__grid--small .cyber_tile-container .catitem__img img {
        height: 150px;
    }
}

@media (max-width: 1199px) {
    .b-catalog-search__section .category__grid--small .cyber_tile-container .catitem__img img {
        height: 232px;
    }

    .b-catalog-search__section .category__grid--small .cyber_tile-container {
        height: 385px;
    }
}

@media (max-width: 991px) {
    .b-catalog-search__section .category__grid--small .catalog-item__btn {
        padding: 25px 0;
    }

    .b-catalog-search__section .category__grid--small .cyber_tile-container {
        height: auto;
    }
}


.b-company__section {
    margin-bottom: 80px;
}

.b-company__section p {
    line-height: 145%;
}

.b-main__title,
h1.b-main__title {
    font-family: 'CenturyGothic-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #6D6E71;
    padding-bottom: 10px;
    margin-bottom: 28px;
    width: max-content;
    border-bottom: 2px solid #27AAE1;
}

.b-main__img,
.b-main__img img {
    width: 100%;
}

.b-main__subtitle {
    font-family: 'CenturyGothic-Bold';
    font-size: 18px;
    color: #000000;
    padding-bottom: 0;
    margin-bottom: 15px;
    border: unset;
}

.b-main__subtitle.b-production__title {
    margin-bottom: 28px;
}

.b-production__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.b-production__item {
    width: 217px;
}

.b-production__item:not(:last-child) {
    margin-right: 10px;
}

.b-production__item-number {
    font-family: 'CenturyGothic-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 154.9%;
    color: #27AAE1;
}

.b-production__item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 149.9%;
    color: #000000;
}

.b-company__technology .b-company__img img {
    width: 100%;
}

.b-company__technology {
    margin-top: -50px;
    margin-bottom: 37px;
}

.b-company__technology .b-main__content-block {
    padding-top: 50px;
}

.b-company__teasers .b-teasers__item {
    transition: all .35s ease-in-out;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 32px 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    min-width: 217px;
}

.b-company__teasers .b-teasers__item:not(:last-child) {
    margin-right: 30px;
}

.b-company__teasers .b-teasers__item:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
}

.b-company__teasers .b-teasers__item .b-teasers__item-img {
    position: absolute;
    right: -10px;
    bottom: -10px;
}

.b-company__teasers .b-teasers__item:last-child .b-teasers__item-img {
    right: 0;
    bottom: 0;
}

.b-teasers__list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.b-company__gallery .b-gallery__img {
    width: 100%;
}

.b-gallery__item {
    position: relative;
    overflow: hidden;
}

.b-gallery__item .row {
    margin: 0;
}

.b-gallery__item .col-xs-12 {
    padding: 0;
}

.b-gallery__item .b-galley__title {
    font-family: 'CenturyGothic-Bold';
    font-size: 14px;
    padding: 20px 20px;
    z-index: 9;
    background-color: #27AAE1;
    color: white;
}

.b-gallery__img.b-gallery__img-sm {
    position: absolute;
    top: 43px;
    left: 0px;
    z-index: -1;
    height: 215px;
}

.b-gallery__item.b-gallery__item-v2 .b-gallery__right-content,
.b-gallery__item.b-gallery__item-v2 .b-galley__title {
    height: 100%;
}

.b-gallery__item.b-gallery__item-v2 .b-galley__title {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
}

.b-gallery__list .b-gallery__item {
    margin-bottom: 20px;
}

.b-main__block-title {
    font-family: 'CenturyGothic-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #6D6E71;
    margin-bottom: 28px;
}

.b-history__list {
    height: 355px;
    overflow: hidden;
    padding: 5px;
}

.b-history__list ul {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.b-history__list ul li {
    padding: 0 15px;
    width: 33.3333%;
    margin-bottom: 30px;
}

.b-history__list ul li div {
    padding: 40px 30px;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    height: 100%;
}

.b-history__btn {
    cursor: pointer;
    position: relative;
    font-family: 'CenturyGothic-Bold';
    font-size: 18px;
    color: #27AAE1;
    margin-top: 10px;
    width: max-content;
}

.b-history__btn::after {
    content: '';
    border: 8px solid transparent;
    border-top: 10px solid #27AAE1;
    position: absolute;
    top: 10px;
    right: -25px;
}

.b-history__btn._active::after {
    transform: rotate(-180deg);
    top: 0;
}

.b-advantages__item {
    overflow: hidden;
    position: relative;
    padding: 40px 40px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.09);
    border-radius: 3px;
    color: #000000;
    margin-bottom: 25px;
}

.b-advantages__item-title {
    font-family: 'CenturyGothic-Bold';
    margin-bottom: 15px;
}

.b-advantages__item-v2 img {
    right: -25px;
}

.b-advantages__item-text {
    font-size: 14px;
}

.b-advantages__item-icon {
    position: absolute;
    right: -13px;
    bottom: -13px;
}

.b-advantages__item-icon.v-5 {
    right: -25px;
    bottom: -35px;
}

.b-company__section.b-company__form section {
    padding: 0;
    background-color: transparent;
}

.b-company__form .modal__title {
    display: none;
}

.b-company__form [name="captcha_word"] {
    height: 100%;
    border: 1px solid #6D6E71;
    padding: 0 15px;
    max-width: 234px;
}

.b-company__form .form__text a {
    display: block;
}

.b-company__form [name="web_form_submit"] {
    text-transform: none;
    font-size: 16px;
}


@media (max-width: 1199px) {
    .b-company__section p,
    .b-production__item-text,
    .b-company__form .form__input {
        font-size: 14px;
    }

    .b-production__item-number {
        font-size: 37px;
    }

    .b-production__list {
        justify-content: space-between;
    }

    .b-production__item {
        width: calc(100% / 6);
        margin-bottom: 15px;
        margin-right: 0;
    }

    .b-teasers__list {
        justify-content: space-between;
    }

    .b-company__teasers .b-teasers__item {
        min-width: max-content;
        width: calc(100% / 4 - 20px);
        padding: 30px 35px;
    }

    .b-company__teasers .b-teasers__item:not(:last-child) {
        margin-right: 0;
    }

    .b-company__gallery .b-gallery__img {
        object-fit: contain;
    }

    .b-gallery__item .b-galley__title {
        padding: 15px;
    }

    .b-history__list ul li div {
        font-size: 14px;
        padding: 30px 20px;
    }

    .b-history__list {
        height: 306px;
    }

    .b-advantages__item {
        padding: 30px 20px;
    }

    .b-history__btn {
        font-size: 15px;
    }
}

@media (max-width: 991px) {
    .b-company__section .col-sm-12 {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .b-main__img.b-company__img {
        margin-top: 20px;
    }

    .b-production__list {
        justify-content: flex-start;
    }

    .b-production__item:not(:last-child) {
        margin-right: 0;
    }

    .b-production__item {
        width: calc(100% / 3);
    }

    .b-company__teasers .b-teasers__item {
        width: calc(100% / 2 - 15px);
        padding: 35px;
        margin-bottom: 30px;
    }

    .b-teasers__list {
        margin-bottom: -30px;
    }

    .b-gallery__img.b-gallery__img-lg {
        height: 250px;
    }

    .b-company__gallery .b-gallery__img {
        object-fit: cover;
    }

    .b-gallery__item .b-galley__title {
        padding: 22px;
    }

    .b-gallery__img.b-gallery__img-sm {
        top: 65px;
    }

    .b-history__list ul li {
        width: 50%;
    }

    .b-history__list {
        height: 264px;
    }
}

@media (max-width: 767px) {
    .b-production__item {
        width: 100%;
    }

    .b-company__technology .b-company__img {
        display: flex;
        justify-content: center;
    }

    .b-company__technology .b-company__img img {
        width: 70%;
    }

    .b-main__content.revert-xs .row {
        flex-direction: column-reverse;
    }

    .b-company__technology .b-main__content-block {
        padding-top: 0;
    }

    .b-company__technology .b-main__content {
        margin-bottom: 45px;
    }

    .b-company__teasers .b-teasers__item {
        width: 100%;
    }

    .b-gallery__img.b-gallery__img-sm {
        position: relative;
        top: unset;
        left: unset;
    }

    .b-gallery__right-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .b-gallery__item .b-galley__title {
        padding: 30px;
    }

    .b-gallery__item.b-gallery__item-v2 .row {
        flex-direction: column-reverse;
    }

    .b-history__list ul li {
        width: 100%;
    }

    .b-history__list {
        height: 552px;
    }

    .b-main__block-title {
        font-size: 22px;
    }

    .b-company__form [name="web_form_submit"] {
        margin-top: 40px;
    }
}

.b-history__list ul li div {
    transition: all .35s ease-in-out;
}

.b-history__list ul li div:hover {
    transform: scale(1.015);
}

@media screen and (max-width: 767px) {
    .catalog-breadcrumb {
        padding: 22px 0 16px;
    }

    .catalog-breadcrumb + #comp_9d562f17e16835f990b9ba0a1bfaa15c .category {
        padding-top: 0;
    }

    .catalog-breadcrumb .breadcrumbs {
        margin-bottom: 0;
    }

    .catalog-breadcrumb .breadcrumbs li:not(:nth-last-child(2)) {
        display: none;
    }

    .catalog-breadcrumb .breadcrumbs li:nth-last-child(2) {
        display: flex;
        align-items: center;
        color: #27aae1;
        font-size: 13px;
        line-height: 16px;
    }

    .catalog-breadcrumb .breadcrumbs li:nth-last-child(2):after {
        display: none;
    }

    .catalog-breadcrumb .breadcrumbs li:nth-last-child(2):before {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='5' height='9' viewBox='0 0 5 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 1L1 4.5L4.5 8' stroke='%2327AAE1'/%3E%3C/svg%3E%0A");
        width: 8px;
        height: 11px;
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .catalog-breadcrumb .breadcrumbs li:nth-last-child(2) a {
        text-decoration: none;
        font-size: 13px;
        margin-left: 8px;
    }

    .n-category .packaging {
        margin-bottom: 8px;
    }

    .n-category .packaging__img {
        border: 2px solid #27aae1;
    }

    .n-category .packaging__title span {
        font-size: 13px;
        line-height: 13px;
    }

}

.catalog__pdg {
    padding: 20px 29px;
    background: #f3f3f3;
    position: relative;
    width: 100%;
    margin-left: 16px;
}

.catalog__pdg:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='188' height='182' viewBox='0 0 188 182' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M57.5337 158.831C57.5337 160.855 55.7753 163.135 53.626 163.901L3.90817 181.585C1.75804 182.35 0 181.32 0 179.296V23.1698C0 21.1464 1.75804 18.8654 3.90817 18.1004L53.626 0.415149C55.7753 -0.349433 57.5337 0.680496 57.5337 2.70433V158.831Z' fill='%23E9E9E9'/%3E%3Cpath d='M123.067 179.296C123.067 181.32 121.309 182.35 119.159 181.586L69.4415 163.9C67.2918 163.135 65.5338 160.854 65.5338 158.832V2.70361C65.5338 0.680225 67.2918 -0.349703 69.4415 0.414423L119.159 18.0996C121.309 18.8647 123.067 21.1461 123.067 23.169V179.296Z' fill='%23E9E9E9'/%3E%3Cpath d='M188.601 158.831C188.601 160.854 186.844 163.135 184.693 163.9L134.975 181.585C132.825 182.35 131.067 181.32 131.067 179.296V23.1695C131.067 21.1461 132.825 18.8652 134.975 18.1001L184.693 0.414905C186.843 -0.349677 188.6 0.680252 188.6 2.70409V158.831H188.601Z' fill='%23E9E9E9'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 0;

    background-repeat: no-repeat;
    background-size: contain;
}

.catalog__pdg-wrap {
    position: relative;
    z-index: 1;

}

.catalog__pdg-wrap + .catalog__pdg-wrap {
    margin-top: 9px;
}

.catalog__pdg-title {
    font-family: 'CenturyGothic';
    margin-bottom: 15px;
    color: #424242;
    position: relative;
    z-index: 1;

}

.catalog__pdg-link {
    font-family: 'CenturyGothic';
    font-size: 18px;
    line-height: 32px;
    color: #27aae1;
    display: inline-block;
}

.catalog__pdg-btn {
    font-family: 'CenturyGothic-Bold';
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    background: #27aae1;
    border-radius: 5px;
    padding: 11px 37px;
    display: inline-block;
    transition: background .25s;
}

.catalog__pdg-btn:hover {
    color: white;
    background: #068ac1;
}

.catalog__pdg-link:hover {
    color: #27aae1;
    text-decoration: underline;
}

@media (max-width: 767px) {
    .catalog__pdg {
        padding: 8px 19px;
        margin-left: 0;
    }

    .catalog__pdg:after {
        width: 108px;
        height: 108px;
    }

}

@media (min-width: 768px) {
    .catalog__pdg {
        width: 50%;
    }
}

@media (max-width: 992px) {
    .catalog__pdg-title {
        line-height: initial;
        font-size: 18px;
        margin-bottom: 13px;
    }

    .catalog__pdg .catalog__pdg-btn {
        font-size: 14px;
        padding: 4px 29px;
    }

    .catalog__pdg .catalog__pdg-link {
        font-size: 14px;
        line-height: initial;
    }
}

@media (min-width: 1200px) {
    .catalog__pdg {
        width: 40%;
    }


}

@media (min-width: 992px) {
    .catalog__pdg:after {
        width: 188px;
        height: 188px;
    }

    .catalog__pdg-title {
        font-size: 30px;
        line-height: 42px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .catalog__pdg:after {
        width: 127px;
        height: 127px;
    }
}

@media (min-width: 576px) {
    .mfp-inline-holder .mfp-content.modal-basket,
    .mfp-inline-holder .mfp-content.modal-basket .zoom-anim-dialog {
        max-width: 500px;
        width: 500px;
    }

    .modal-basket .modal--cart .modal__content {
        max-width: 500px;
    }
}

@media (max-width: 575px) {
    .mfp-inline-holder .mfp-content.modal-basket,
    .mfp-inline-holder .mfp-content.modal-basket .zoom-anim-dialog {
        max-width: 100vw;
        width: 100vw;
    }

    .mfp-inline-holder .mfp-content.modal-basket {
        margin: 0 -8px;

    }

    .modal-basket .modal--cart .modal__content {
        max-width: 100%;
        width: 100%;
    }

    .modal-basket .modal__content .modal__title {
        font-size: 32px;
        margin-bottom: 23px;
        text-align: left;
    }

    .modal-basket .modal__content .cartmodal__items .cartmodal__item .cartmodal__item-meta {
        margin-left: 15px;
    }

    .modal-basket .modal__content .cartmodal__items {
        max-height: calc(100vh - 265px) !important;
    }

    .modal-basket .modal__content .cartmodal__items .cartmodal__item ul {
        display: none;
    }

    .modal-basket .modal__content .cartmodal__items .cartmodal__item {
        padding: 35px 15px 15px 15px !important;
    }

    .modal-basket .modal__content .cartmodal__total .cartmodal__actions {
        flex-direction: column;
    }

    .modal-basket .modal__content .cartmodal__total .cartmodal__actions .cartmodal__prices {
        margin-bottom: 26px !important;
    }
}

.modal-basket .modal__content {
    padding: 50px 20px 20px;
}

.modal-basket .modal--cart .modal__close {
    background: white;
}

.modal-basket .modal--cart .modal__close svg {
    fill: #6D6E71;
}

.modal-basket .modal__content .cartmodal__items .cartmodal__item {
    padding: 15px 28px 15px 15px;
    border: 1px solid #E4E4E4;
}

.modal-basket .modal__content .cartmodal__items {
    max-height: 474px;
    overflow-y: auto;
}

.modal-basket .modal__content .cartmodal__items .cartmodal__item .cartmodal__item-meta h3 {
    padding-right: 0;
    margin-bottom: 16px;
}

.modal-basket .modal__content .cartmodal__items .cartmodal__item .cartmodal__item-delete {
    right: 15px;
    top: 15px;
}

.modal-basket .modal__content .cartmodal__items .cartmodal__item .cartmodal__item-img {
    margin-bottom: 10px;
}

.modal-basket .modal__content .cartmodal__items .cartmodal__item .cartmodal__item-delete svg {
    width: 12px;
    display: block;
    fill: #A50000;
}

.modal-basket .modal__content .cartmodal__items .cartmodal__wrap-clear {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 17px;
}

.modal-basket .modal__content .cartmodal__items .cartmodal__clear {
    width: auto;
    background: none;
    height: auto;
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    color: #A50000;
}

.modal-basket .modal__content .cartmodal__items .cartmodal__values {
    margin-bottom: 32px;
}

.modal-basket .modal__content .cartmodal__items .cartmodal__values p {
    font-size: 14px;
    line-height: 29px;
    color: #6D6E71;
}

.modal-basket .modal__content .cartmodal__total {
    padding: 20px;
    margin: 0 -20px -20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 25%);
    border-radius: 0 0 10px 10px;
}

.modal-basket .modal__content .cartmodal__total .cartmodal__actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.modal-basket .modal__content .cartmodal__total .cartmodal__actions .cartmodal__prices {
    width: auto;
    margin-bottom: 0;
    white-space: nowrap;
    padding: 13px 20px;
    text-transform: none;
}

.modal-basket .modal__content .cartmodal__total .cartmodal__actions .cartmodal__maincart {
    width: auto;
    margin-top: 0;
    padding: 0;
    white-space: nowrap;
    text-decoration: none;
    color: #27AAE1;
    font-size: 14px;
    line-height: 17px;
}

.modal-basket .modal__content .cartmodal__total .cartmodal__actions .cartmodal__maincart:after {
    content: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='long-arrow-alt-right' class='svg-inline--fa fa-long-arrow-alt-right fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%2327AAE1' d='M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z'%3E%3C/path%3E%3C/svg%3E");
    display: inline-block;
    width: 15px;
    font-size: 23px;
    vertical-align: middle;
    margin-left: 5px;
}
