
/*--------- GRID -----------*/
/* Uncomment and set these variables to customize the grid. */
.row{
    display:         flex;
    display: -webkit-flex;
        flex-direction: row;

    margin-right: -15px;
    margin-left: -15px;
    flex: 0 1 auto;
    -o-flex-wrap: wrap;
       flex-wrap: wrap;
}

.row.reverse{
        flex-direction: row-reverse;
}

.col.reverse{
        flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12{
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 auto;
}

.col-xs{
    max-width: 100%;
    flex-grow: 1;
    flex-basis: 0;
}

.col-xs-1{
    max-width: 8.333%;
    flex-basis: 8.333%;
}

.col-xs-2{
    max-width: 16.667%;
    flex-basis: 16.667%;
}

.col-xs-3{
    max-width: 25%;
    flex-basis: 25%;
}

.col-xs-4{
    max-width: 33.333%;
    flex-basis: 33.333%;
}

.col-xs-5{
    max-width: 41.667%;
    flex-basis: 41.667%;
}

.col-xs-6{
    max-width: 50%;
    flex-basis: 50%;
}

.col-xs-7{
    max-width: 58.333%;
    flex-basis: 58.333%;
}

.col-xs-8{
    max-width: 66.667%;
    flex-basis: 66.667%;
}

.col-xs-9{
    max-width: 75%;
    flex-basis: 75%;
}

.col-xs-10{
    max-width: 83.333%;
    flex-basis: 83.333%;
}

.col-xs-11{
    max-width: 91.667%;
    flex-basis: 91.667%;
}

.col-xs-12{
    max-width: 100%;
    flex-basis: 100%;
}

.col-xs-offset-1{
    margin-left: 8.333%;
}

.col-xs-offset-2{
    margin-left: 16.667%;
}

.col-xs-offset-3{
    margin-left: 25%;
}

.col-xs-offset-4{
    margin-left: 33.333%;
}

.col-xs-offset-5{
    margin-left: 41.667%;
}

.col-xs-offset-6{
    margin-left: 50%;
}

.col-xs-offset-7{
    margin-left: 58.333%;
}

.col-xs-offset-8{
    margin-left: 66.667%;
}

.col-xs-offset-9{
    margin-left: 75%;
}

.col-xs-offset-10{
    margin-left: 83.333%;
}

.col-xs-offset-11{
    margin-left: 91.667%;
}

.start-xs{
    text-align: start;
    justify-content: flex-start;
}

.center-xs{
    text-align: center;
    justify-content: center;
}

.end-xs{
    text-align: end;
    justify-content: flex-end;
}

.top-xs{
    align-items: flex-start;
}

.middle-xs{
    align-items: center;
}

.bottom-xs{
    align-items: flex-end;
}

.around-xs{
    justify-content: space-around;
}

.between-xs{
    justify-content: space-between;
}

.first-xs{
    order: -1;
}

.last-xs{
    order: 1;
}

@media only screen and (min-width: 768px){
    .col-sm,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12{
        box-sizing: border-box;
        padding-right: 15px;
        padding-left: 15px;
        flex: 0 0 auto;
    }

    .col-sm{
        max-width: 100%;
        flex-grow: 1;
        flex-basis: 0;
    }

    .col-sm-1{
        max-width: 8.333%;
        flex-basis: 8.333%;
    }

    .col-sm-2{
        max-width: 16.667%;
        flex-basis: 16.667%;
    }

    .col-sm-3{
        max-width: 25%;
        flex-basis: 25%;
    }

    .col-sm-4{
        max-width: 33.333%;
        flex-basis: 33.333%;
    }

    .col-sm-5{
        max-width: 41.667%;
        flex-basis: 41.667%;
    }

    .col-sm-6{
        max-width: 50%;
        flex-basis: 50%;
    }

    .col-sm-7{
        max-width: 58.333%;
        flex-basis: 58.333%;
    }

    .col-sm-8{
        max-width: 66.667%;
        flex-basis: 66.667%;
    }

    .col-sm-9{
        max-width: 75%;
        flex-basis: 75%;
    }

    .col-sm-10{
        max-width: 83.333%;
        flex-basis: 83.333%;
    }

    .col-sm-11{
        max-width: 91.667%;
        flex-basis: 91.667%;
    }

    .col-sm-12{
        max-width: 100%;
        flex-basis: 100%;
    }

    .col-sm-offset-1{
        margin-left: 8.333%;
    }

    .col-sm-offset-2{
        margin-left: 16.667%;
    }

    .col-sm-offset-3{
        margin-left: 25%;
    }

    .col-sm-offset-4{
        margin-left: 33.333%;
    }

    .col-sm-offset-5{
        margin-left: 41.667%;
    }

    .col-sm-offset-6{
        margin-left: 50%;
    }

    .col-sm-offset-7{
        margin-left: 58.333%;
    }

    .col-sm-offset-8{
        margin-left: 66.667%;
    }

    .col-sm-offset-9{
        margin-left: 75%;
    }

    .col-sm-offset-10{
        margin-left: 83.333%;
    }

    .col-sm-offset-11{
        margin-left: 91.667%;
    }

    .start-sm{
        text-align: start;
        justify-content: flex-start;
    }

    .center-sm{
        text-align: center;
        justify-content: center;
    }

    .end-sm{
        text-align: end;
        justify-content: flex-end;
    }

    .top-sm{
        align-items: flex-start;
    }

    .middle-sm{
        align-items: center;
    }

    .bottom-sm{
        align-items: flex-end;
    }

    .around-sm{
        justify-content: space-around;
    }

    .between-sm{
        justify-content: space-between;
    }

    .first-sm{
        order: -1;
    }

    .last-sm{
        order: 1;
    }
}

@media only screen and (min-width: 992px){
    .col-md,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12{
        box-sizing: border-box;
        padding-right: 15px;
        padding-left: 15px;
        flex: 0 0 auto;
    }

    .col-md{
        max-width: 100%;
        flex-grow: 1;
        flex-basis: 0;
    }

    .col-md-1{
        max-width: 8.333%;
        flex-basis: 8.333%;
    }

    .col-md-2{
        max-width: 16.667%;
        flex-basis: 16.667%;
    }

    .col-md-3{
        max-width: 25%;
        flex-basis: 25%;
    }

    .col-md-4{
        max-width: 33.333%;
        flex-basis: 33.333%;
    }

    .col-md-5{
        max-width: 41.667%;
        flex-basis: 41.667%;
    }

    .col-md-6{
        max-width: 50%;
        flex-basis: 50%;
    }

    .col-md-7{
        max-width: 58.333%;
        flex-basis: 58.333%;
    }

    .col-md-8{
        max-width: 66.667%;
        flex-basis: 66.667%;
    }

    .col-md-9{
        max-width: 75%;
        flex-basis: 75%;
    }

    .col-md-10{
        max-width: 83.333%;
        flex-basis: 83.333%;
    }

    .col-md-11{
        max-width: 91.667%;
        flex-basis: 91.667%;
    }

    .col-md-12{
        max-width: 100%;
        flex-basis: 100%;
    }

    .col-md-offset-1{
        margin-left: 8.333%;
    }

    .col-md-offset-2{
        margin-left: 16.667%;
    }

    .col-md-offset-3{
        margin-left: 25%;
    }

    .col-md-offset-4{
        margin-left: 33.333%;
    }

    .col-md-offset-5{
        margin-left: 41.667%;
    }

    .col-md-offset-6{
        margin-left: 50%;
    }

    .col-md-offset-7{
        margin-left: 58.333%;
    }

    .col-md-offset-8{
        margin-left: 66.667%;
    }

    .col-md-offset-9{
        margin-left: 75%;
    }

    .col-md-offset-10{
        margin-left: 83.333%;
    }

    .col-md-offset-11{
        margin-left: 91.667%;
    }

    .start-md{
        text-align: start;
        justify-content: flex-start;
    }

    .center-md{
        text-align: center;
        justify-content: center;
    }

    .end-md{
        text-align: end;
        justify-content: flex-end;
    }

    .top-md{
        align-items: flex-start;
    }

    .middle-md{
        align-items: center;
    }

    .bottom-md{
        align-items: flex-end;
    }

    .around-md{
        justify-content: space-around;
    }

    .between-md{
        justify-content: space-between;
    }

    .first-md{
        order: -1;
    }

    .last-md{
        order: 1;
    }
}

@media only screen and (min-width: 1200px){
    .col-lg,
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12{
        box-sizing: border-box;
        padding-right: 15px;
        padding-left: 15px;
        flex: 0 0 auto;
    }

    .col-lg{
        max-width: 100%;
        flex-grow: 1;
        flex-basis: 0;
    }

    .col-lg-1{
        max-width: 8.333%;
        flex-basis: 8.333%;
    }

    .col-lg-2{
        max-width: 16.667%;
        flex-basis: 16.667%;
    }

    .col-lg-3{
        max-width: 25%;
        flex-basis: 25%;
    }

    .col-lg-4{
        max-width: 33.333%;
        flex-basis: 33.333%;
    }

    .col-lg-5{
        max-width: 41.667%;
        flex-basis: 41.667%;
    }

    .col-lg-6{
        max-width: 50%;
        flex-basis: 50%;
    }

    .col-lg-7{
        max-width: 58.333%;
        flex-basis: 58.333%;
    }

    .col-lg-8{
        max-width: 66.667%;
        flex-basis: 66.667%;
    }

    .col-lg-9{
        max-width: 75%;
        flex-basis: 75%;
    }

    .col-lg-10{
        max-width: 83.333%;
        flex-basis: 83.333%;
    }

    .col-lg-11{
        max-width: 91.667%;
        flex-basis: 91.667%;
    }

    .col-lg-12{
        max-width: 100%;
        flex-basis: 100%;
    }

    .col-lg-offset-1{
        margin-left: 8.333%;
    }

    .col-lg-offset-2{
        margin-left: 16.667%;
    }

    .col-lg-offset-3{
        margin-left: 25%;
    }

    .col-lg-offset-4{
        margin-left: 33.333%;
    }

    .col-lg-offset-5{
        margin-left: 41.667%;
    }

    .col-lg-offset-6{
        margin-left: 50%;
    }

    .col-lg-offset-7{
        margin-left: 58.333%;
    }

    .col-lg-offset-8{
        margin-left: 66.667%;
    }

    .col-lg-offset-9{
        margin-left: 75%;
    }

    .col-lg-offset-10{
        margin-left: 83.333%;
    }

    .col-lg-offset-11{
        margin-left: 91.667%;
    }

    .start-lg{
        text-align: start;
        justify-content: flex-start;
    }

    .center-lg{
        text-align: center;
        justify-content: center;
    }

    .end-lg{
        text-align: end;
        justify-content: flex-end;
    }

    .top-lg{
        align-items: flex-start;
    }

    .middle-lg{
        align-items: center;
    }

    .bottom-lg{
        align-items: flex-end;
    }

    .around-lg{
        justify-content: space-around;
    }

    .between-lg{
        justify-content: space-between;
    }

    .first-lg{
        order: -1;
    }

    .last-lg{
        order: 1;
    }
}


@-ms-viewport{
    width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg{
    display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block{
    display: none !important;
}
@media (max-width: 767px){
    .visible-xs{
        display: block !important;
    }
    table.visible-xs{
        display: table !important;
    }
    tr.visible-xs{
        display: table-row !important;
    }
    th.visible-xs,
    td.visible-xs{
        display: table-cell !important;
    }
}
@media (max-width: 767px){
    .visible-xs-block{
        display: block !important;
    }
}
@media (max-width: 767px){
    .visible-xs-inline{
        display: inline !important;
    }
}
@media (max-width: 767px){
    .visible-xs-inline-block{
        display: inline-block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .visible-sm{
        display: block !important;
    }
    table.visible-sm{
        display: table !important;
    }
    tr.visible-sm{
        display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm{
        display: table-cell !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .visible-sm-block{
        display: block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .visible-sm-inline{
        display: inline !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .visible-sm-inline-block{
        display: inline-block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .visible-md{
        display: block !important;
    }
    table.visible-md{
        display: table !important;
    }
    tr.visible-md{
        display: table-row !important;
    }
    th.visible-md,
    td.visible-md{
        display: table-cell !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .visible-md-block{
        display: block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .visible-md-inline{
        display: inline !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .visible-md-inline-block{
        display: inline-block !important;
    }
}
@media (min-width: 1200px){
    .visible-lg{
        display: block !important;
    }
    table.visible-lg{
        display: table !important;
    }
    tr.visible-lg{
        display: table-row !important;
    }
    th.visible-lg,
    td.visible-lg{
        display: table-cell !important;
    }
}
@media (min-width: 1200px){
    .visible-lg-block{
        display: block !important;
    }
}
@media (min-width: 1200px){
    .visible-lg-inline{
        display: inline !important;
    }
}
@media (min-width: 1200px){
    .visible-lg-inline-block{
        display: inline-block !important;
    }
}
@media (max-width: 767px){
    .hidden-xs{
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .hidden-sm{
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .hidden-md{
        display: none !important;
    }
}
@media (min-width: 1200px){
    .hidden-lg{
        display: none !important;
    }
}
.visible-print{
    display: none !important;
}
@media print{
    .visible-print{
        display: block !important;
    }
    table.visible-print{
        display: table !important;
    }
    tr.visible-print{
        display: table-row !important;
    }
    th.visible-print,
    td.visible-print{
        display: table-cell !important;
    }
}
.visible-print-block{
    display: none !important;
}
@media print{
    .visible-print-block{
        display: block !important;
    }
}
.visible-print-inline{
    display: none !important;
}
@media print{
    .visible-print-inline{
        display: inline !important;
    }
}
.visible-print-inline-block{
    display: none !important;
}
@media print{
    .visible-print-inline-block{
        display: inline-block !important;
    }
}
@media print{
    .hidden-print{
        display: none !important;
    }
}

/*---------- /GRID -----------*/