.category .category__sidebar .category-menu-content {
  display: none;
  position: relative;
  top: 0 !important;
}
.category .category__sidebar .category-menu-content.show {
  display: block;
}
@media (min-width: 992px){
	.category .category__sidebar .category-menu-btn {
		margin-bottom: 0;
	}
	.category .category__sidebar .category__collapse-btn{
		margin-top:30px;
	}
}