@media (min-width: 992px){
	.post-slider .post__title {
		font-size: 22px;
		line-height: 25px;
		min-height: 25px;
		white-space:nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.post-slider .post__img{
		margin-bottom:30px;
	}
}
.product{
	margin-bottom:30px;
}
.product__content{
	overflow:hidden;
}
.white-popup-block {
    background: #FFF;
    padding: 20px 30px;
    text-align: left;
    max-width: 600px;
    margin: 20px auto;
    position: relative;
}
.white-popup-block .section__title2 a{
	color: #6d6e71;
}
.white-popup-block .section__title2 a:hover{
	color: #28aae1;
    text-decoration: underline;
}
.lp4_modal-thumbs img{
	margin-bottom:15px;
	border:1px solid #ade0f5;
	padding:5px;
}
.post-slider .post a{
	color:#fff !important;
}
.lp4_product-info{
	margin-top:15px;
}
.lp4_product-info ul li{
	color: #6d6e71;
    font-size: 16px;
	line-height: 18px;
	margin-bottom:5px;
}
.lp4_modal-slide .img-fluid{
	min-height:240px;
}