.catitem__img{
	position:relative;
}
.category_item_lable{
	display: block;
    width: 100%;
    max-height: 100%;
    position: absolute;
    overflow: hidden;
    left: -5px;
    top: -5px;
}
.category__grid--small .category_item_lable img,
.category__grid--list .category_item_lable img{
	width:150%;
}