.photos-section-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:15px 0;
  flex-wrap:wrap;
}
.photos-section-item{
  height: 42px;
	background-color: #58ba47;
    border-bottom: 2px solid #38862a;
    color: #fff;
  padding: 0 15px;
  margin:15px;
  display:flex;
  align-items:center;
}
span.photos-section-item{
	cursor:default;
}
a.photos-section-item:hover {
  background-color: #61d34d;
}
.photos-section-item span{
	color: #fff;
    font-size: 18px;
	line-height:22px;
    font-weight: normal;
	align-self:center;
    font-family: 'CenturyGothic-Bold';
    position: relative;
    display: block;
	padding:5px;
	
}
span.photos-section-item{
	background-color: #61d34d;
}
.post__date{
	display:block;
	position:relative;
	font-size: 16px;
    color: #6d6e71;
	margin-bottom:10px;
}
@media (min-width: 992px){
	.photos--container .post__title {
		min-height: 50px;
	}
}
@media (min-width: 768px){
	.photos--container .post__title {
		min-height: 40px;
	}
}