.bx-filter .min-price,
.bx-filter .max-price{
	display: block;
    border-radius: 0;
    background-color: #fff;
    padding: 0;
    font-size: 18px;
    color: #6d6e71;
    text-align: center;
    line-height: 30px;
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
    border: none;
}
.bx-filter .bx-ft-sub{
    padding: 0;
	display:block;
	font-style:normal;
	width:100%;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 30px;
}
.bx-filter .bx-ui-slider-track-container {
	padding-top: 45px;
	padding-bottom: 25px;
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	overflow:hidden;
}
.bx-filter .bx-ui-slider-track {
	position: relative;
	height: 2px;
	background: #fff;
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}
.bx-filter .bx-ui-slider-part {
	position: absolute;
	top: -15px;
	width: 1px;
	height: 17px;
	background: #fff;
}
.bx-filter .bx-ui-slider-part.p1 {
	left: -1px;
}
.bx-filter .bx-ui-slider-part.p2 {
	left: 25%;
}
.bx-filter .bx-ui-slider-part.p3 {
	left: 50%;
}
.bx-filter .bx-ui-slider-part.p4 {
	left: 75%;
}
.bx-filter .bx-ui-slider-part.p5 {
	right: -1px;
}
.bx-filter .bx-ui-slider-part span {
	font-size: 11px;
	color:#fff;
	position: absolute;
	top: -16px;
	left: 50%;
	display: block;
	width: 100px;
	margin-left: -50px;
	text-align: center;
}
.bx-filter .bx-ui-slider-range,
.bx-filter .bx-ui-slider-pricebar,
.bx-filter .bx-ui-slider-pricebar-vd,
.bx-filter .bx-ui-slider-pricebar-vn,
.bx-filter .bx-ui-slider-pricebar-v {
	position: absolute;
	top: 0;
	bottom: 0;
}
.bx-filter .bx-ui-slider-range {
	z-index: 100;
}
.bx-filter .bx-ui-slider-pricebar {
	z-index: 100;
}
.bx-filter .bx-ui-slider-pricebar-vd {
	z-index: 60;
	background: #fff;
}
.bx-filter .bx-ui-slider-pricebar-vn {
	z-index: 70;
	background: #fff;
}
.bx-filter .bx-ui-slider-pricebar-v {
	z-index: 80;
	height:8px;
	top:-3px;
	background: #fff;
}
.bx-filter .bx-ui-slider-handle {
	position: absolute;
	top: -11px;
	width: 22px;
	height: 22px;
	background-color:#fff;
	border-radius:100%;
	transition:none;
}
.bx-filter .bx-ui-slider-handle:hover {
	-webkit-cursor: grab;
	-ms-cursor: grab;
	-o-cursor: grab;
	cursor: grab;
}
.bx-filter .bx-ui-slider-handle:active {
	-webkit-cursor: grabbing;
	-ms-cursor: grabbing;
	-o-cursor: grabbing;
	cursor: grabbing;
}
.bx-filter .bx-ui-slider-handle.left {
	left: 0;
	margin-left: -11px;
}
.bx-filter .bx-ui-slider-handle.right {
	right: 0;
	margin-right: -11px;
}