.customBlock__links {
    margin: 35px 0;
}
.customBlock__links-title {
    padding: 17px 20px;
    font-family: CenturyGothic-Bold;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #202F3F;
    background: #FFFFFF;
    border: 1px solid #27AAE1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .25s ease-in-out;
}
.customBlock__links-title.active,
.customBlock__links-title:hover {
    background-color: #27AAE1;
    color: white;
}
.customBlock__links-title svg {
    transition: all .25s ease-in-out;
}
.customBlock__links-title.active svg {
    transform: rotate(-180deg);
}
.customBlock__links-title svg path {
    transition: all .25s ease-in-out;
}
.customBlock__links-title.active svg path,
.customBlock__links-title:hover svg path {
    stroke: white;
}
.customBlock__links-list {
    display: none;
    padding: 20px 30px;
    background: #F6F6F6;
}

.customBlock__links-item {
    cursor: pointer;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: flex-start;
    color: #202F3F;
}
.customBlock__links-item:not(:last-child) {
    margin-bottom: 5px;
}
.customBlock__links-item span {
    transition: all .25s ease-in-out;
    margin-left: 5px;
    display: inline-block;
    color: #27AAE1;
}
.customBlock__links-item span:hover {
    color: #58ba47;
}