.bx-filter .bx-filter-parameters-box{
	margin-bottom:20px;
}
.bx-filter .filter_price_title{
	margin-bottom: 10px;
    display: block;
    color: #6d6e71;
    font-size: 16px;
}
.bx-filter .min-price,
.bx-filter .max-price{
	display: block;
    border-radius: 0;
    background-color: #fff;
    padding: 0;
    font-size: 18px;
	border:1px solid #ededed;
    color: #6d6e71;
    text-align: center;
    line-height: 30px;
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
}
.bx-filter .bx-ft-sub{
    padding: 0;
	display:block;
	font-style:normal;
	width:100%;
    font-size: 15px;
    color: #6d6e71;
    text-align: center;
    line-height: 24px;
}
.bx-filter .bx-ui-slider-track-container {
	padding-top: 45px;
	padding-bottom: 25px;
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	overflow:hidden;
}
.bx-filter .bx-ui-slider-track {
	position: relative;
	height: 2px;
	background: #ededed;
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}
.bx-filter .bx-ui-slider-part {
	position: absolute;
	top: -15px;
	width: 1px;
	height: 17px;
	background: #ededed;
}
.bx-filter .bx-ui-slider-part.p1 {
	left: -1px;
}
.bx-filter .bx-ui-slider-part.p2 {
	left: 25%;
}
.bx-filter .bx-ui-slider-part.p3 {
	left: 50%;
}
.bx-filter .bx-ui-slider-part.p4 {
	left: 75%;
}
.bx-filter .bx-ui-slider-part.p5 {
	right: -1px;
}
.bx-filter .bx-ui-slider-part span {
	font-size: 11px;
	color:#6d6e71;
	position: absolute;
	top: -16px;
	left: 50%;
	display: block;
	width: 100px;
	margin-left: -50px;
	text-align: center;
}
.bx-filter .bx-ui-slider-range,
.bx-filter .bx-ui-slider-pricebar,
.bx-filter .bx-ui-slider-pricebar-vd,
.bx-filter .bx-ui-slider-pricebar-vn,
.bx-filter .bx-ui-slider-pricebar-v {
	position: absolute;
	top: 0;
	bottom: 0;
}
.bx-filter .bx-ui-slider-range {
	z-index: 10;
}
.bx-filter .bx-ui-slider-pricebar {
	z-index: 10;
}
.bx-filter .bx-ui-slider-pricebar-v {
	z-index: 6;
	background: #ededed;
}
.bx-filter .bx-ui-slider-pricebar-vn {
	z-index: 7;
	background: #ededed;
}
.bx-filter .bx-ui-slider-pricebar-vd {
	z-index: 8;
	height:8px;
	top:-3px;
	background: #27aae1;
}
.bx-filter .bx-ui-slider-handle {
	position: absolute;
	top: -11px;
	width: 22px;
	height: 22px;
	background-color:#27aae1;
	border-radius:100%;
	transition:none;
}
.bx-filter .bx-ui-slider-handle:hover {
	-webkit-cursor: grab;
	-ms-cursor: grab;
	-o-cursor: grab;
	cursor: grab;
}
.bx-filter .bx-ui-slider-handle:active {
	-webkit-cursor: grabbing;
	-ms-cursor: grabbing;
	-o-cursor: grabbing;
	cursor: grabbing;
}
.bx-filter .bx-ui-slider-handle.left {
	left: 0;
	margin-left: -11px;
}
.bx-filter .bx-ui-slider-handle.right {
	right: 0;
	margin-right: -11px;
}
.bx-filter .filter__collapse_container{
	position: relative;
}
.bx-filter .category__check {
	margin:0;
	padding:0;
}
.bx-filter .filter_select{
	display: block;
    width: 100%;
    border: 1px solid #ededed;
    padding: 10px 35px 10px 20px;
    color: #6d6e71;
    font-size: 16px;
    line-height: 20px;
    background: url('/bitrix/templates/ru/img/arrow.svg') no-repeat center right 20px;
    cursor: pointer;
}
.bx-filter .filter__collapse{
	width: 100%;
    display: block;
    position: absolute;
    background: #fff;
    border: 1px solid #27aae1;
    border-top: 1px solid #ededed;
	padding:0;
	z-index:4;
}
.bx-filter .category__check label:before, 
.bx-filter .category__check label:after {
	display:none;
}
.bx-filter .category__check input:not(:checked) + label, .bx-filter .category__check input:checked + label {
    font-size: 16px;
    line-height: 20px;
    color: #6d6e71;
    position: relative;
    cursor: pointer;
    font-weight: normal;
	display:block;
	padding:5px 10px;
}
.bx-filter .category__check input:checked + label{
	background:#efefef;
}
.bx-filter .dropdown-menu:not(.show) {
    display: none;
}