.catalogSection__articles {
    margin-top: 40px;
    display: none;
}
.catalogSection-articles-title {
    font-family: CenturyGothic-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 12px;
    color: #424242;
}
.catalogSection__articles-item img {
    width: 263px;
    height: auto;
    margin-bottom: 14px;
}
.catalogSection__articles-item a {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #424242;
}
.catalogSection__articles-item:hover a {
    color: #27aae1 !important;
}
.catalogSection__articles .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}
.catalogSection__articles .slick-dots li button {
    background-image: url('/local/assets/img/dot.png');
    text-indent: -9999px;
    overflow:hidden;
    width: 22px;
    height: 22px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.catalogSection__articles .slick-dots li:not(:last-child) {
    margin-right: 10px;
}
.catalogSection__articles .slick-dots li.slick-active button {
    background-image: url('/local/assets/img/dot.active.png');
}
@media(max-width: 991px) {
    .catalogSection__articles {
        display: none;
    }
}