.reviews_list{
	padding-top:15px;
}
.reviews_list .review{
	position:relative;
	padding-bottom:15px;
	border-bottom: 1px solid #ededed;
	margin-bottom:30px;
}
.reviews_list .review .review_name{
	display:block;
	position:relative;
	color: #6d6e71;
    font-family: CenturyGothic-Bold;
    font-weight: 400;
    margin-bottom: 15px;
	font-size:18px;
	line-height:18px;
}
.reviews_list .review .review_name.answer{
	margin-left:50px;
	margin-top:20px;
}
.reviews_list .review .review_text,
.reviews_list .review .review_answer{
	margin-bottom:0;
}
.reviews_list .review .review_answer{
	margin-left:50px;
}
button.add_review {
	margin-top:20px;
    width: 100%;
	max-width:200px;
    height: 54px;
    background-color: #5cbb47 !important;
    color: #fff !important;
    font-size: 20px;
    font-family: CenturyGothic-Bold;
	transition: .4s ease;
}
button.add_review:hover{
    background-color: #61d34d;
}
.fancybox-navigation .fancybox-button {
	background: #27aae1;
}
.fancybox-navigation .fancybox-button div {
	padding: 0;
}
.title-char h2{
	color: #6d6e71;
    font-family: CenturyGothic-Bold;
}

@media (max-width: 767px) {
	.fancybox-navigation .fancybox-button {
		width: 25px;
		height: 40px;
		text-align: center;
		padding: 0;
		top: calc(50% - 20px);
	}
}

.category_item_lable img {
	position: absolute;
	z-index: 10;
	top: -5px;
	left: 10px;
}

/* certificates tab */
.certificates__wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: -5px;
}
.certificates__item {
	width: calc(100% / 6 - 10px);
	margin: 5px;
	display: flex;
	border: 1px solid #d9d9d9;
}
.certificates__image {
	width: 100%;
}
.certificates .certificates__link {
	color: #80c02e;
	font-size: 24px;
	display: block;
	margin: 20px 0 0 0;
	text-decoration: none;
}
.certificates .certificates__link:hover {
	text-decoration: underline;
	color: #80c02e;
}
@media all and (max-width: 1199px) {
	.certificates__item {
		width: calc(100% / 3 - 10px);
	}
}
@media all and (max-width: 767px) {
	.certificates__item {
		width: calc(100% / 2 - 10px);
	}
}

